* {
    box-sizing: border-box;
}

body,
html,
.core-container {
    margin: 0;
    height: 100%;
}

.navbar-container {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;

}

.bar-item {
    height: inherit;
    padding: 20px;
    width: 25vw;
}

.bar-item:hover {
    background-color: blue;

}

.nav-link {
    text-decoration: none;
    color: white;
}

.hero-container {
    height: 110vh;
    text-align: center;
    display: flex;
    font-size: 2em;
    flex-direction: column;
    color: rgb(208, 204, 204);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./components/imgs/code.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
}

.hero-btn {
    width: 20%;
    height: 11vh;
}

.info-container {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(95, 3, 3));
}

.obj {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(208, 204, 204);
    margin: auto 25vw;
    height: 50vw;
}


.gallery-container {
    display: flex;
    align-items: center;
}

.btn-backwards {
    left: 100%;
}

.btn-forward {
    right: 100%;
}

.gallery-btn {
    height: 100%;
    opacity: 0.5;
    color: white;
    border-radius: 5px;
    border: none;
    background-color: black;
    position: relative;
}

.gallery-btn:hover {
    opacity: 0.9;
}

.imgs {
    width: 300px;
    height: 228.3px;
    border: white solid 3px;
    border-radius: 5px;
}

.sh {
    text-align: center;
}

.one-pages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgb(95, 3, 3), rgb(0, 0, 0));
    color: white;
}


.one-page {
    color: white;
    margin: 10px auto;
    border: black 5px solid;
    border-radius: 5px;
}

.one-page-img {
    height: auto;
    width: 50vw;
}

.repo-link,
.live-link {
    text-decoration: none;
    color: white;
}

.title {
    text-align: center;
    color: white;
}

.projects-container {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(5, 3, 95));
}

.card-container {
    border: rgb(88, 88, 88) 3px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    margin: auto 25vw 10px 25vw;
    transition: 1s;
}

.card-container:hover {
    transition: 2s;
    background-color: black;
}

.project-card {
    margin: 10px auto;
    text-decoration: none;
    color: white;
    width: 90%;
}

.find-list-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.find-me-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black
}

.title-find {
    text-align: center;
    margin: 0;
    color: black;
}